.git
.gitignore
docker-compose.yml
node_modules
/vendor
/web/core
/web/modules/contrib
/web/modules/README.txt
/web/modules/.gitignore
/web/profiles
/web/.gitignore
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.hr.router.php
/web/.htaccess
/.editorconfig
/.gitattributes
